body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.signup {
  display: flex;
  flex-direction: column;
  padding: 10vh;
  width: 100vw;
  height: 100vh;
  background-image: url("./imagenes/fondo.jpg");
  background-size: cover;
  background-position-x: -26vh;
  justify-content: center;
}

.fondo input {
  margin: 3vh 0vh;
  max-height: 50%;
}
.fondo {
  background-color: rgba(190, 128, 243, 0.4);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 15%;
}
#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
#root {
  min-height: 100%;
}
